﻿<!-- /menu footer buttons -->
<div class="sidebar-footer hidden-small">
	<a data-toggle="tooltip" data-placement="top" title="Settings">
		<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
	</a>

	<a data-toggle="tooltip" data-placement="top" title="Lock">
		<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
	</a>

	<a data-toggle="tooltip" data-placement="top" title="Register">
		<span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span>
	</a>

	<a data-toggle="tooltip" data-placement="top" title="Logout" href="@Url.Action("Logout","Account")">
		<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
	</a>
</div>
<!-- /menu footer buttons -->