﻿<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
	<div class="menu_section">
		<h3>General</h3>
		<ul class="nav side-menu">
			<li>
				<a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="index.html">Dashboard</a></li>
					<li><a href="index2.html">Dashboard2</a></li>
					<li><a href="index3.html">Dashboard3</a></li>
				</ul>
			</li>
			@if (Request.IsAuthenticated && User.IsInRole("Admin"))
			{
				<li>
					<a><i class="fa fa-lock"></i> Security <span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li>@Html.ActionLink("Register User", "Index", "UserAdmin")</li>
						<li>@Html.ActionLink("Logout", "Logout", "Account")</li>
					</ul>
				</li>
				
				<li>
					<a><i class="fa fa-map"></i> Geographic Unit <span class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li>@Html.ActionLink("Country", "Index", "Country")</li>
						<li>@Html.ActionLink("City", "Index", "City")</li>						
					</ul>
				</li>
			}

			
		</ul>
	</div>
</div>
<!-- /sidebar menu -->