﻿@model DPE.LabChem.Domain.Entities.Country

@{
	ViewBag.Title = "Create";
}

@{ Layout = null;}

<div class="modal-dialog modal-lg">
	<div class="modal-content col-lg-12">
		<br />
		@using (Html.BeginForm("Create", "Country", FormMethod.Post, new { id = "formCountry" }))
		{
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			<div class="x_panel">
				<div class="alert alert-success" role="alert">
					<h2>Country</h2>
					<div class="clearfix"></div>
				</div>

				<div class="modal-body">
					<div class="form-horizontal">
						<div class="row">
							<div class="x_panel">
								<div class="x_title">
									<h2>@ViewBag.Title</h2>
									<ul class="nav navbar-right panel_toolbox">
										<li>
											<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
										</li>
										<li>
											<a class="close-link"><i class="fa fa-close"></i></a>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<br />

									<div class="item form-group">
										<label class="col-form-label col-md-3 col-sm-3 label-align" for="initial">
											Initials <span class="required">*</span>
										</label>
										<div class="col-md-3 col-sm-3 ">
											@Html.EditorFor(model => model.Initials, new { htmlAttributes = new { @class = "form-control", @maxlength = "3", @data_val = "true", @required = "required" } })
											@Html.ValidationMessageFor(model => model.Initials, "", new { @class = "text-danger" })
										</div>
									</div>
									<div class="item form-group">
										<label class="col-form-label col-md-3 col-sm-3 label-align" for="name">
											Country <span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 ">
											@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @maxlength = "25", @data_val = "true", @required = "required" } })
											@*@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@
										</div>
									</div>
									<div class="ln_solid"></div>

									<div class="item form-group">
										<div class="col-md-6 col-sm-6 offset-md-3">
											<input type="button" value="Cancel" class="btn btn-primary" onclick="location.href='@Url.Action("Cancel", "Country")'" data-dismiss="modal" />
											<input id="submitAction" type="button" value="Submit" class="btn btn-success" />; @*onclick="location.href='@Url.Action("Index", "Country")'"/>*@
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
	var btnAction = $("#submitAction");
	var _form = $("#formCountry");

	btnAction.on("click", Submit);

	function Submit() {
		debugger;
		if (_form.valid) {
			var url = _form.prop("action");
			var method = _form.prop("method");

			var data = _form.serialize();

			$.ajax({
				async: true,
				url: url,
				type: method,
				data: data,
				//datatype: 'json',
				//contentType: 'application/json; charset=utf-8',
				success: tratarRetorno
			});
		}
	}

	function tratarRetorno(serverresult) {
		debugger;

		if (serverresult.success) {
			toastr.options = {
				"closeButton": false,
				"debug": false,
				"newestOnTop": false,
				"progressBar": false,
				"positionClass": "toast-top-right",
				"preventDuplicates": false,
				"onclick": null,
				"showDuration": "1000",
				"hideDuration": "1000",
				"timeOut": "5000",
				"extendedTimeOut": "1000",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
			};

			$("#countryModal").modal("hide");

			toastr.success(				
				serverresult.message,
				'New',
				{
					timeOut: 1500,
					fadeOut: 1500,
					onHidden: function () {
						window.location.reload();
					}
				}
			);
		}
		else {
			toastr['error'](serverresult.message);
		}
	}

</script>

