﻿@model DPE.LabChem.Domain.Entities.Country

@{
	ViewBag.Title = "Delete";
}

<div class="modal-dialog">
	<div class="modal-content">
		<br />
		<div class="x_panel">
			<div class="alert alert-error" role="alert">
				<h2>Country</h2>
				<div class="clearfix"></div>
			</div>

			<div class="modal-body">
				<div class="form-horizontal">
					<div class="row">
						<div class="x_panel">
							<div class="x_title">
								<h2>@ViewBag.Title</h2>
								<ul class="nav navbar-right panel_toolbox">
									<li>
										<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
									</li>
									<li>
										<a class="close-link"><i class="fa fa-close"></i></a>
									</li>
								</ul>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
								<br />
								<h2 style="text-align:center">Are you sure you want to delete this?</h2>
								<br />
								<dl class="dl-horizontal">
									<dt>
										@Html.DisplayNameFor(model => model.Initials)
									</dt>

									<dd>
										@Html.DisplayFor(model => model.Initials)
									</dd>

									<dt>
										@Html.DisplayNameFor(model => model.Name)
									</dt>

									<dd>
										@Html.DisplayFor(model => model.Name)
									</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				@using (Html.BeginForm("Delete", "Country", FormMethod.Post, new { id = "formCountry" }))
				{
					@Html.AntiForgeryToken()
					@Html.HiddenFor(model => model.Id)
					<div class="form-actions no-color">
						<input type="button" value="Cancel" class="btn btn-primary" onclick="location.href='@Url.Action("Cancel", "Country")'" data-dismiss="modal" />
						<input id="submitAction" type="button" value="Delete" class="btn btn-success" />
					</div>
				}
			</div>
		</div>
	</div>
</div>

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
	var btnAction = $("#submitAction");
	var _form = $("#formCountry");

	btnAction.on("click", Submit);
	
	function Submit() {
		debugger;

		var method = _form.prop("method");

		var id = $("#Id").val();
		var DeletePostBackURL = '/Country/DeleteCountry';

		$.ajax({
			url: DeletePostBackURL,
			type: 'POST',
			data: { "id": id },			
			success: tratarRetorno
		});
	}

	function tratarRetorno(serverresult) {
		debugger;

		if (serverresult.success) {
			toastr.options = {
				"closeButton": false,
				"debug": false,
				"newestOnTop": false,
				"progressBar": true,
				"positionClass": "toast-top-right",
				"preventDuplicates": false,
				"onclick": null,
				"showDuration": "1000",
				"hideDuration": "1000",
				"timeOut": "5000",
				"extendedTimeOut": "1000",
				"showEasing": "swing",
				"hideEasing": "linear",
				"showMethod": "fadeIn",
				"hideMethod": "fadeOut"
			};

			$("#countryModal").modal("hide");			

			toastr.success(
				serverresult.message,
				'Delete',
				{
					timeOut: 1500,
					fadeOut: 1500,
					onHidden: function () {
						window.location.reload();
					}
				}
			);
		}
		else {
			toastr['error'](serverresult.message);
		}
	}

</script>



