﻿@model DPE.LabChem.Domain.Entities.Country

@{
    ViewBag.Title = "Details";
}

<div class="modal-dialog modal-lg">
	<div class="modal-content col-lg-12">
		<br />
		<div class="x_panel">
			<div class="alert alert-success" role="alert">
				<h2>Country</h2>
				<div class="clearfix"></div>
			</div>

			<div class="modal-body">
				<div class="form-horizontal">
					<div class="row">
						<div class="x_panel">
							<div class="x_title">
								<h2>@ViewBag.Title</h2>
								<ul class="nav navbar-right panel_toolbox">
									<li>
										<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
									</li>
									<li>
										<a class="close-link"><i class="fa fa-close"></i></a>
									</li>
								</ul>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
								<br />
								<dl class="dl-horizontal">
									<dt>
										@Html.DisplayNameFor(model => model.Initials)
									</dt>

									<dd>
										@Html.DisplayFor(model => model.Initials)
									</dd>

									<dt>
										@Html.DisplayNameFor(model => model.Name)
									</dt>

									<dd>
										@Html.DisplayFor(model => model.Name)
									</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				@*<input type="button" value="Cancelar" class="btn btn-warning btn-transparent" data-dismiss="modal" />*@
				<input type="button" value="Cancel" class="btn btn-primary" onclick="location.href='@Url.Action("Cancel", "Country")'" data-dismiss="modal"/>
			</div>

		</div>
	</div>
</div>

