﻿@model IEnumerable<DPE.LabChem.Domain.Entities.Country>

@{
	ViewBag.Title = "Index";
}

<p>
	<a href="javascript:void(0);" class="btn btn-success createAction">
		<span class="glyphicon glyphicon-plus"></span>
		Create New
	</a>

</p>

<div class="modal fade" id="countryModal" role="dialog">
	@*<div class="modal-dialog modal-lg">
			<div id="mainContent" class="modal-content col-lg-12">
			</div>
		</div>*@
</div>

<div class="col-md-12 col-sm-12 ">
	<div class="x_panel">
		<div class="x_title">
			<h2>Country</h2>
			<ul class="nav navbar-right panel_toolbox">
				<li>
					<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="row">
				<div class="col-sm-12">
					<div class="card-box table-responsive">
						<table id="datatable" class="table table-striped table-bordered table-hover" style="width:100%">
							<thead>
								<tr>
									<th>Initial</th>
									<th>Name</th>
									<th class="text-right">Action</th>
								</tr>
							</thead>


							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>
											@Html.DisplayFor(modelItem => item.Initials)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.Name)
										</td>
										<td align="right">
											<a href="javascript:void(0);" class="glyphicon glyphicon-list green detailAction" data-id="@item.Id" title="Details"></a>&nbsp;
											@*@Html.ActionLink(" ", "Details", "Country", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-list green detailCountryModal ", title = "Detail", @data_toggle = "modal", @data_target = "detailCountryModal" })&nbsp;*@
											<a href="javascript:void(0);" class="glyphicon glyphicon-edit blue editAction" data-id="@item.Id" title="Edit"></a>&nbsp;
											@*@Html.ActionLink(" ", "Edit", "Country", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-edit blue editCountryModal", title = "Edit" })&nbsp;*@
											<a href="javascript:void(0);" class="glyphicon glyphicon-trash red deleteAction" data-id="@item.Id" title="Delete"></a>&nbsp;
											@*@Html.ActionLink(" ", "Delete", "Country", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-trash red", title = "Delete" })*@
										</td>
									</tr>
								}
							</tbody>
						</table>
						@*@Html.Partial("Partial/_tblCountry")*@
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts{
	<script type="text/javascript">
		var DetailPostBackURL = '/Country/Details?id=';
		var EditPostBackURL = '/Country/Edit?id=';
		var CreatePostBackURL = '/Country/Create';
		var DeletePostBackURL = '/Country/Delete?id=';

		$(function () {
			$(".detailAction").click(function () {
				var id = $(this).attr("data-id");
				$("#countryModal").load(DetailPostBackURL + id, function () {
					$("#countryModal").modal('show');
				});
			});

			$(".editAction").click(function () {
				var id = $(this).attr("data-id");
				$("#countryModal").load(EditPostBackURL + id, function () {
					$("#countryModal").modal('show');
				});
			});

			$(".createAction").click(function () {
				$("#countryModal").load(CreatePostBackURL, function () {
					$("#countryModal").modal('show');
				});
			});		

			$(".deleteAction").click(function () {
				debugger;
				var id = $(this).attr("data-id");
				$("#countryModal").load(DeletePostBackURL + id, function () {
					$("#countryModal").modal('show');
				});
			});			
		});
	</script>
}


