﻿@model IEnumerable<DPE.LabChem.Identity.Users.ApplicationUser>


@{
	ViewBag.Title += "User Admin";
}

<p>
	<a href="@Url.Action("Create")" class="btn btn-success" data-action="Create">
		<span class="glyphicon glyphicon-plus"></span>
		Create New
	</a>
</p>


<div class="modal fade" id="UserModal" role="dialog">
	<div class="modal-dialog">
		<div id="mainContent" class="modal-content col-sm-12">
		</div>
	</div>
</div>

<div class="col-md-12 col-sm-12 ">
	<div class="x_panel">
		<div class="x_title">
			<h2>Users</h2>
			<ul class="nav navbar-right panel_toolbox">
				<li>
					<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			<div class="row">
				<div class="col-sm-12">
					<div class="card-box table-responsive">
						<table id="datatable" class="table table-striped table-bordered" style="width:100%">
							<thead>
								<tr>
									<th>User Name</th>
									<th>Full Name</th>
									<th>Email</th>
									<th class="text-right">Action</th>
								</tr>
							</thead>


							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>
											@Html.DisplayFor(modelItem => item.UserName)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.FullName)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.Email)
										</td>
										<td align="right">
											<a href="javascript:void(0);" class="glyphicon glyphicon-list green detailUserModal" data-id="@item.Id" title="Details"></a>&nbsp;
											@*@Html.ActionLink(" ", "Details", "Country", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-list green detailCountryModal ", title = "Detail", @data_toggle = "modal", @data_target = "detailCountryModal" })&nbsp;*@
											@Html.ActionLink(" ", "Edit", "UserAdmin", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-edit blue", title = "Edit" })&nbsp;
											@Html.ActionLink(" ", "Delete", "UserAdmin", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-trash red", title = "Delete" })
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts{
	<script type="text/javascript">
		//$(function () {
		//	$('.detailCountryModal').click(function (e) {
		//		e.preventDefault();
		//		//replace the get with this.href to load the edit page
		//		//$.get('https://developer.mozilla.org/en-US/docs/Web', function (data) {
		//		//	//replace the content returned
		//		//	$("#mainContent").html(data);
		//		//});
		//		//show the modal
		//		$('#countryModal').modal({
		//			keyboard: true,
		//		}, 'show');
		//		return false;
		//	})
		//})

		var TeamDetailPostBackURL = '/UserAdmin/Details';
		$(function () {
			$(".detailUserModal").click(function () {
				debugger;
				var $buttonClicked = $(this);
				var id = $buttonClicked.attr('data-id');
				var options = { keyboard: true };
				$.ajax({
					type: "GET",
					url: TeamDetailPostBackURL,
					contentType: "application/json; charset=utf-8",
					data: { "Id": id },
					datatype: "json",
					success: function (data) {
						debugger;
						$('#mainContent').html(data);
						$('#countryModal').modal(options);
						$('#countryModal').modal('show');

					},
					error: function () {
						alert("Dynamic content load failed.");
					}
				});
			});
			//$("#closebtn").on('click',function(){
			//    $('#myModal').modal('hide');

			//$("#closbtn").click(function () {
			//	$('#myModal').modal('hide');
			//});
		});
	</script>
}
