﻿@model DPE.LabChem.Identity.Users.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()	

	<div class="page-title">
		<div class="title_left">
			<h3>User</h3>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 ">
			<div class="x_panel">
				<div class="x_title">
					<h2>Register User</h2>
					<ul class="nav navbar-right panel_toolbox">
						<li>
							<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
						<li>
							<a class="close-link"><i class="fa fa-close"></i></a>
						</li>
					</ul>
					<div class="clearfix"></div>
					
				</div>
				<div class="x_content">
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })

					<br />					
					<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
						<div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-3 label-align">
								User Name <span class="required">*</span>
							</label>
							<div class="col-md-4 col-sm-6 ">
								@Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })								
							</div>
						</div>
						<div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-3 label-align">
								Full Name <span class="required">*</span>
							</label>
							<div class="col-md-4 col-sm-6 ">
								@Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-3 label-align">
								Date Of Birth <span class="required">*</span>
							</label>
							<div class="col-md-4 col-sm-6 ">
								@Html.EditorFor(model => model.DateOfBirth, 
										new { htmlAttributes = new  {
											@class = "date-picker form-control",
											@placeholder = "dd-mm-yyyy",
											@type = "text",
											@onfocus = "this.type='date'",
											@onmouseover = "this.type='date'",
											@onclick = "this.type='date'",
											@onblur = "this.type='text'",
											@onmouseout = "timeFunctionLong(this)"
										} })
								<script>
									function timeFunctionLong(input) {
										setTimeout(function() {
											input.type = 'text';
										}, 60000);
									}
								</script>
								@Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-3 label-align">
								Skype 
							</label>
							<div class="col-md-4 col-sm-6 ">
								@Html.EditorFor(model => model.Skype, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Skype, "", new { @class = "text-danger" })
							</div>
						</div>						
						<div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-3 label-align">
								Bio 
							</label>
							<div class="col-md-4 col-sm-6 ">
								@Html.TextAreaFor(model => model.Bio, new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.Bio, "", new { @class = "text-danger" })
							</div> 
						</div>
						<div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-3 label-align">
								Email <span class="required">*</span>
							</label>
							<div class="col-md-4 col-sm-6 ">
								@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-3 label-align">
								Password <span class="required">*</span>
							</label>
							<div class="col-md-4 col-sm-6 ">
								@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
							</div>
						</div>						
						<div class="item form-group">
							<label class="col-form-label col-md-3 col-sm-3 label-align">
								Confirm Password
							</label>
							<div class="col-md-4 col-sm-6 ">
								@Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="ln_solid"></div>

						<div class="item form-group">
							<div class="col-md-6 col-sm-6 offset-md-3">
								<input type="button" value="Cancel" class="btn btn-primary" />
								<input type="submit" value="Submit" class="btn btn-success" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
