﻿<!DOCTYPE html>
<html lang="en">
<head>
	<!--TEMPLATE-->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="~/Template/images/favicon.ico" type="image/ico" />

	<title>LabChem</title>

	<!-- Bootstrap -->
	<!--<link href="~/Template/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
	<!-- Font Awesome -->
	<!--<link href="~/Template/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">-->
	<!-- NProgress -->
	<!--<link href="~/Template/vendors/nprogress/nprogress.css" rel="stylesheet">-->
	<!-- Animate.css -->
	<!--<link href="~/Template/vendors/animate.css/animate.min.css" rel="stylesheet">-->		
	<!-- Custom Theme Style -->
	<!--<link href="~/Template/build/css/custom.min.css" rel="stylesheet">-->	

	@Styles.Render("~/TemplateLogin/Styles")

	<!--END TEMPLATE-->    

    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
</head>
<body class="login">
	<div>
		<a class="hiddenanchor" id="signup"></a>
		<a class="hiddenanchor" id="signin"></a>

		<div class="login_wrapper">
			<div class="animate form login_form">
				<section class="login_content">
					<!--page-context-->
					@RenderBody()
					<!--page-context-->
				</section>
			</div>
		</div>
	</div>
	@RenderSection("scripts", required: false)
</body>
</html>
