﻿@model IEnumerable<DPE.LabChem.Domain.Entities.Country>


<table id="datatable" class="table table-striped table-bordered table-hover" style="width:100%">
	<thead>
		<tr>
			<th>Initial</th>
			<th>Name</th>
			<th class="text-right">Action</th>
		</tr>
	</thead>


	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Initials)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td align="right">
					<a href="javascript:void(0);" class="glyphicon glyphicon-list green detailAction" data-id="@item.Id" title="Details"></a>&nbsp;
					@*@Html.ActionLink(" ", "Details", "Country", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-list green detailCountryModal ", title = "Detail", @data_toggle = "modal", @data_target = "detailCountryModal" })&nbsp;*@
					<a href="javascript:void(0);" class="glyphicon glyphicon-edit blue editAction" data-id="@item.Id" title="Edit"></a>&nbsp;
					@*@Html.ActionLink(" ", "Edit", "Country", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-edit blue editCountryModal", title = "Edit" })&nbsp;*@
					<a href="javascript:void(0);" class="glyphicon glyphicon-trash red deleteAction" data-id="@item.Id" title="Delete"></a>&nbsp;
					@*@Html.ActionLink(" ", "Delete", "Country", new { id = item.Id }, htmlAttributes: new { @class = "glyphicon glyphicon-trash red", title = "Delete" })*@
				</td>
			</tr>
		}
	</tbody>
</table>