﻿@model DPE.LabChem.Identity.Users.LoginViewModel

@{
	ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
	<h1>Login</h1>
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.ValidationMessage("errorLogin");

	<div class="clearfix"></div>
	<br />


	<form>
		<div>
			@Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Username", @required = ""  } })
		</div>
		<div>
			@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", @required = "" } })
		</div>
		<div>
			<div class="checkbox">
				<label>
					@Html.CheckBoxFor(model => model.RememberMe, new { htmlAttributes = new { @class = "flat" } })
					@Html.LabelFor(model => model.RememberMe)
				</label>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="text-center">
			<button class="btn btn-primary" type="submit">
				Login
			</button>
		</div>

		<div class="clearfix"></div>
		<br />

		@*<div style="text-align:center">
			<a href="#">Lost your password?</a>
		</div>*@

		<div class="clearfix"></div>
		<br />

		<div style="text-align:center">
			Require a Credential?			
		</div>
		<br />
		<div style="text-align:center">			
			<p class="text-center">				
				<input type="button" class="btn btn-primary" value="Contact the Admin" onclick="@("window.location.href='" + @Url.Action("Credential", "Mural") + "'");" />
			</p>
		</div>

		<div class="separator">
			<div class="clearfix"></div>
			<br />

			<div>
				<h1><i class="fa fa-paw"></i> LabChem!</h1>
				<p>©2020 All Rights Reserved. Privacy and Terms</p>
			</div>
		</div>

		<div class="clearfix"></div>
	</form>

}


