﻿@model DPE.LabChem.Domain.Entities.Mural

@{
	ViewBag.Title = "Credential";
}

@using (Html.BeginForm())
{
	<h1>New Credential</h1>
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.ValidationMessage("errorCredential");

	<div class="clearfix"></div>
	<br />


	<form>		
		<div>
			@Html.EditorFor(model => model.User, new { htmlAttributes = new { @class = "form-control", @placeholder = "User", @required = "" } })
		</div>
		<div>
			@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", @required = "" } })
		</div>
		@*<div class="item form-group">
			<label class="col-form-label col-md-3 col-sm-3 label-align">
				Date Of Birth <span class="required">*</span>
			</label>
			<div class="col-md-4 col-sm-6 ">
				@Html.EditorFor(model => model.DateOfBirth,
						new
							 {
								 htmlAttributes = new
								 {
							@class = "date-picker form-control",
							@placeholder = "dd-mm-yyyy",
							@type = "text",
							@onfocus = "this.type='date'",
							@onmouseover = "this.type='date'",
							@onclick = "this.type='date'",
							@onblur = "this.type='text'",
							@onmouseout = "timeFunctionLong(this)"
						}
							 })
				<script>
					function timeFunctionLong(input) {
						setTimeout(function () {
							input.type = 'text';
						}, 60000);
					}
				</script>
				@Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
			</div>
		</div>*@

		<div class="clearfix"></div>

		<div class="text-center">
			<button class="btn btn-success" type="submit">
				Submit
			</button>

			<input type="button" class="btn btn-primary" value="Back" onclick="@("window.location.href='" + @Url.Action("Login", "Account") + "'");" />
		</div>

		<div class="clearfix"></div>
		<br />
		
		<div class="separator">
			<div class="clearfix"></div>
			<br />

			<div>
				<h1><i class="fa fa-paw"></i> LabChem!</h1>
				<p>©2020 All Rights Reserved. Privacy and Terms</p>
			</div>
		</div>

		<div class="clearfix"></div>
	</form>

}
