﻿@*@model IEnumerable<DPE.LabChem.Web.ViewModel.MuralViewModel>*@

@model IEnumerable<DPE.LabChem.Domain.Entities.Mural>

@{
	ViewBag.Title = "Index";
}

<div class="col-md-12 col-sm-12 ">
	<div class="x_panel">
		<div class="x_title">
			<h2>Dashboard</h2>
			<ul class="nav navbar-right panel_toolbox">
				<li>
					<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<div class="x_content">
			@foreach (var item in Model)
			{
				<div class="col-md-4 col-sm-4  profile_details">
					<div class="well profile_view">

						<div class="col-sm-12">
							<h4 class="brief"><i>New Credential</i></h4>
							<div class="left col-sm-7">
								<h2>@Html.DisplayFor(modelItem => item.User)</h2>
								<p><strong>Title: </strong>@Html.DisplayFor(modelItem => item.Title) </p>
								<p><strong>Date: </strong>@Html.DisplayFor(modelItem => item.Date) </p>
								<p><strong>Subject: </strong>@Html.DisplayFor(modelItem => item.Subject)</p>
								<ul class="list-unstyled">
									<li><i class="fa fa-building"></i> Address: </li>
									<li><i class="fa fa-phone"></i> Phone #: </li>
									<li><i class="fa fa-envelope-o"></i> E-mail: @Html.DisplayFor(modelItem => item.Email) </li>
								</ul>
							</div>
							<div class="right col-sm-5 text-center">
								<img src="~/Template/images/user.png" alt="" class="img-circle img-fluid">
							</div>
						</div>
						<div class=" bottom text-center">
							<div class=" col-sm-6 emphasis">
								<a href="@Url.Action("Register", new { id = item.Id })" class="btn btn-success" data-action="Create">
									<span class="glyphicon glyphicon-plus"></span>
									Create
								</a>
								<a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger" data-action="Cancel">
									<span class="glyphicon glyphicon-trash"></span>
									Cancel
								</a>								
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>
